<div  id="delete_employee" role="dialog" class="modal custom-modal fade show " aria-modal="true" style="display: block;">
  <div  class="modal-dialog modal-dialog-centered">
    <div  class="modal-content">
      <div  class="modal-body">
        <div  class="form-header">
          <h3 >
            Registration Successful
          </h3>
          <p >

          </p>
        </div>
        <div  class="modal-btn delete-action">
          <div  class="row-4">
            <div  class="col-12">
              <a  routerLink="../login" class="btn btn-primary continue-btn" mat-dialog-close="" >
                Go back to Login
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
