<p>delete works!</p>
<div  id="delete_employee" role="dialog" class="modal custom-modal fade show " aria-modal="true" style="display: block;">
    <div  class="modal-dialog modal-dialog-centered">
      <div  class="modal-content">
        <div  class="modal-body">
          <div  class="form-header">
            <h3 >
              Delete Employee
            </h3>
            <p >
              Are you sure want to delete?
            </p>
          </div>
          <div  class="modal-btn delete-action">
            <div  class="row">
              <div  class="col-6">
                <a  class="btn btn-primary continue-btn">
                  Delete
                </a>
              </div>
              <div  class="col-6">
                <a  class="btn btn-primary cancel-btn" mat-dialog-close>
                  Cancel
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
