.action-icon {
  color: #777;
  font-size: 18px;
  display: inline-block;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.content {
  padding: 30px;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.page-header {
  margin-bottom: 1.875rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.align-items-center {
  align-items: center !important;
}

.col-md-3,
.col-sm-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col-12,
.col-lg-4,
.col-md-4,
.col-sm-6,
.col-xl-3 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-md-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex-basis: 0px;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  position: relative;
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 auto;
  max-width: 100%;
}

.float-right {
  float: right !important;
}

.ml-auto {
  margin-left: auto !important;
}

.form-group {
  margin-bottom: 1rem;
}

.form-focus {
  height: 50px;
  position: relative;
}

a {
  color: rgb(0, 123, 255);
  text-decoration: none;
  background-color: transparent;
  transition: all 0.4s ease 0s;
}

.btn {
  display: inline-block;
  font-weight: 500;
  color: rgb(33, 37, 41);
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s,
    border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  margin-left: auto;
}

.btn-success {
  color: rgb(255, 255, 255);
  background-color: rgb(40, 167, 69);
  border-color: rgb(40, 167, 69);
}

.btn-block {
  display: block;
  width: 70%;
  height: 40%;
}

.btn {
  border-radius: 15px;
}

.btn-success {
  background-color: rgb(30, 208, 19);
  border: 1px solid rgb(85, 206, 99);
}

.filter-row .btn {
  min-height: 50px;
  padding: 12px;
  text-transform: uppercase;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

a:hover {
  color: rgb(0, 86, 179);
  text-decoration: underline;
}

a:active,
a:hover {
  text-decoration: none;
  outline: none;
}

.btn:hover {
  color: rgb(33, 37, 41);
  text-decoration: none;
}

.btn-success:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(33, 136, 56);
  border-color: rgb(30, 126, 52);
}

.btn-success:active,
.btn-success:hover {
  background: rgb(74, 182, 87);
  border: 1px solid rgb(74, 182, 87);
  color: rgb(255, 255, 255);
}

.btn-success:active:hover {
  background: rgb(74, 182, 87);
  border: 1px solid rgb(74, 182, 87);
}

.profile-widget {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(237, 237, 237);
  border-radius: 20px;
  margin-bottom: 30px;
  padding: 20px;
  text-align: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 0px;
  overflow: hidden;
}

h3 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.5rem;
  margin-top: 0px;
}

.page-title {
  color: rgb(31, 31, 31);
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 5px;
}

ul {
  margin-bottom: 1rem;
  margin-top: 0px;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: rgb(233, 236, 239);
  border-radius: 0.25rem;
}

.page-header .breadcrumb {
  background-color: transparent;
  color: rgb(108, 117, 125);
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0px;
  padding: 0px;
}

.add-btn {
  background-color: #ff9b44;
  border: 1px solid #ff9b44;
  border-radius: 40px;
  color: rgb(255, 255, 255);
  float: right;
  font-weight: 500;
  min-width: 140px;
}

.add-btn:active,
.add-btn:hover {
  background-color: #fc6075;
  border: 1px solid #fc6075;

  color: rgb(255, 255, 255);
}

.view-icons {
  float: right;
  margin-right: 10px;
}

input {
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  transition: all 0.4s ease 0s;
  outline: none;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-color: #e3e3e3;
  box-shadow: none;
  height: 44px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-focus {
  height: 50px;
  position: relative;
}

input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
}

.img {
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-color: #e3e3e3;
  box-shadow: none;
  height: 44px;
}

input,
input:focus {
  outline: none;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-control:focus {
  color: #16181a;
  background-color: #fff;
  border-color: #ccc;
  outline: 0 none;
  box-shadow: none;
}

.form-focus .form-control {
  height: 50px;
}

label {
  display: inline-block;
}

.form-focus .focus-label {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  transform: translateY(22px) scale(1);
  transform-origin: left top;
  transition: 0.24s;
  left: 12px;
  top: -8px;
  z-index: 1;
  color: #888;
  margin-bottom: 0;
}

.form-focus .form-control:focus ~ .focus-label {
  opacity: 1;
  font-weight: 500;
  top: -14px;
  font-size: 12px;
  z-index: 1;
}

input[type="text"] {
  appearance: none;
  font-size: 15px;
  top: -20px;
}

.form-focus .form-control {
  height: 50px;

  border-radius: 40px;
}
.form-focus .form-control select {
  padding: 0;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.form-focus .focus-label {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  transform: translateY(22px) scale(1);
  transform-origin: left top;
  transition: 0.24s;
  left: 12px;
  top: -8px;
  z-index: 1;
  color: #888;
  margin-bottom: 0;
}

.focus-label {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  transform: translateY(22px) scale(1);
  transform-origin: left top;
  transition: 0.24s;
  left: 12px;
  top: -8px;
  z-index: 1;
  color: #888;
  margin-bottom: 0;
}

select {
  margin: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: none;
  overflow-wrap: normal;
  padding: 12px;
  opacity: 0.4;
}
.dropdown1 {
  height: 50px;
  /* padding: 6px 21px 4px; */
  padding: 21px 12px 6px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  position: absolute;
  transition: 0.24s;

  left: 12px;
  top: -8px;
}
.form-focus.select-focus .focus-label {
  opacity: 1;
  font-weight: 300;
  top: -20px;
  font-size: 12px;
  z-index: 1;
}

.profile-img {
  cursor: pointer;
  height: 80px;
  margin: 0px auto;
  position: relative;
  width: 80px;
}

.dropdown {
  position: relative;
}

.dropdown.profile-action {
  position: absolute;
  right: 5px;
  text-align: right;
  top: 10px;
}

h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.125rem;
  margin-top: 0px;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.text-ellipsis {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-name {
  color: rgb(51, 51, 51);
}

.small {
  font-size: 80%;
  font-weight: 400;
}

.text-muted {
  color: rgb(142, 142, 142) !important;
}

.breadcrumb-item {
  display: flex;
}

.breadcrumb-item + .breadcrumb-item {
  padding-left: 0.5rem;
}

.breadcrumb-item.active {
  color: rgb(108, 117, 125);
}

.breadcrumb-item + .breadcrumb-item:before {
  display: inline-block;
  padding-right: 0.5rem;
  color: rgb(108, 117, 125);
  content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover:before {
  text-decoration: none;
}

.fa {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  line-height: 1;
  font-family: FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.add-btn i {
  margin-right: 5px;
}

.fa-plus:before {
  content: "";
}

.btn-link {
  font-weight: 400;
  color: rgb(51, 51, 51);
  text-decoration: none;
  box-shadow: none;
}

.view-icons .btn {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(227, 227, 227);
  color: rgb(136, 136, 136);
  font-size: 18px;
  margin-right: 5px;
  min-width: 40px;
  padding: 4px;
}

.view-icons .btn.active {
  color: rgb(51, 51, 51);
}

.btn-link:hover {
  color: rgb(0, 86, 179);
  text-decoration: underline;
}

.btn-link,
.btn-link:active,
.btn-link:hover {
  box-shadow: none;
}

.avatar {
  display: inline-block;

  border-radius: 50%;
  font-weight: 500;
  height: 80x;
  line-height: 80px;
  margin: 0px 10px 0px 0px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 38px;
  position: relative;
  white-space: nowrap;
  color: rgb(255, 255, 255);
}

.profile-img .avatar {
  font-size: 24px;
  height: 80px;
  line-height: 80px;
  margin: 0px;
  width: 80px;
}

.avatar,
.avatar:hover {
  color: rgb(255, 255, 255);
}

.action-icon {
  color: rgb(119, 119, 119);
  font-size: 18px;
  display: inline-block;
}

.profile-widget .user-name > a {
  color: rgb(51, 51, 51);
}

a:hover {
  text-decoration: none;
  outline: none;
}

.page-header .breadcrumb a {
  color: rgb(51, 51, 51);
}

.fa-th:before {
  content: "";
}

.fa-bars:before {
  content: "";
}

img {
  border-style: none;
  vertical-align: middle;
}

.avatar > img {
  border-radius: 50%;
  display: block;
  overflow: hidden;
  width: 100%;
}

.my-pagination /deep/ .ngx-pagination .current {
  background: rgb(231, 114, 18);
}
