<div class="content container-fluid">
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">Employees</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="../emp-dashboard"> Dashboard </a>
          </li>
          <li class="breadcrumb-item active">Employees</li>
        </ul>
      </div>
      <div class="col-auto float-right ml-auto">
        <div class="view-icons">
          <a
            routerlink="/employees/employeepage"
            class="grid-view btn btn-link active"
          >
            <i class="fa fa-th"> </i>
          </a>
          <a
            routerlink="/employees/employeelist"
            class="list-view btn btn-link"
          >
            <i class="fa fa-bars"> </i>
          </a>
        </div>
      </div>
      <div *ngIf="isadmin" class="col-auto float-right ml-auto">
        <a class="btn add-btn" (click)="openAddform()">
          <i class="fa fa-plus"> </i>
          Add Employee
        </a>
      </div>
    </div>
  </div>
  <div class="row filter-row">
    <div class="col-sm-6 col-md-3 snipcss-wQoHA">
      <div class="form-group form-focus">
        <input type="text" class="form-control floating snipcss0-0-0-1" />
        <label class="focus-label"> Employee Name </label>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="form-group form-focus">
        <input type="text" class="form-control floating" />
        <label class="focus-label">Employee ID</label>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="form-group form-focus select-focus">
        <select class="select form-control floating">
          <option selected>Select Designation</option>
          <option>Intern</option>
          <option>Associate engineer</option>
          <option>Data Analyst</option>
          <option>TSM</option>
        </select>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <a class="btn btn-success btn-block"> Search </a>
    </div>
  </div>
  <div class="row staff-grid-row">
    <div
      class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3"
      *ngFor="
        let val of allemp.alldata
          | paginate: { itemsPerPage: itemsPerPage, currentPage: p }
      "
    >
      <div class="profile-widget">
        <div class="profile-img">
          <a routerlink="/employees/employeeprofile" class="avatar">
            <img alt="" src="{{ val.image }}" />
          </a>
        </div>
        <div *ngIf="isadmin" class="dropdown profile-action">
          <button
            class="action-icon"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <a (click)="openEditform()">
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </a>
            </button>
            <button mat-menu-item>
              <a (click)="deleteEmployee()">
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </a>
            </button>
          </mat-menu>
        </div>
        <h4 class="user-name m-t-10 mb-0 text-ellipsis">
          <a routerlink="/employees/employeeprofile">
            {{ val.first_name }}
          </a>
        </h4>
        <div class="small text-muted">
          {{ val.designation }}
        </div>
      </div>
    </div>
    <pagination-controls
      (pageChange)="p = $event"
      class="my-pagination text-center"
    ></pagination-controls>
  </div>
</div>
