
* {
    box-sizing: border-box;
}

.page-wrapper {
    left: 0;
    margin-left: 230px;
    padding-top: 60px;
    position: relative;
    transition: all .2s ease-in-out;
}

body {
    margin:  0;
    font-size:  .9375rem;
    font-weight:  400;
    line-height:  1.5;
    color:  #1f1f1f;
    text-align:  left;
    background-color:  #f7f7f7;
    min-height: 100%;
    overflow-x: hidden;
}

html {
    line-height:  1.15;
    -webkit-text-size-adjust:  100%;
    -webkit-tap-highlight-color:  transparent;
    height: 100%;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.content  {
    padding: 30px;
}

*,:after,:before {
    box-sizing: border-box;
}

.page-header {
    margin-bottom: 1.875rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.align-items-center {
    align-items: center!important;
}

.col-md-3,.col-sm-6 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px){
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px){
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col-lg-4,.col-md-4,.col-sm-6,.col-xl-3 {
    position: relative;
    width: 100%;
   
}

@media (min-width: 768px){
  .col-md-4 {
    /* flex: 0 0 33.333333%;
    max-width: 33.333333%; */
    margin: 10px 0;
  }
}

@media (min-width: 992px){
  .col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px){
  .col-xl-3 {
    /* flex: 0 0 25%;
    max-width: 25%; */
  }
}

.col {
    position:  relative;
    width:  100%;
    padding-right:  15px;
    padding-left:  15px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.col-auto {
    position:  relative;
    width:  auto;
    padding-right:  15px;
    padding-left:  15px;
    flex: 0 0 auto;
    max-width: 100%;
}

.float-right {
    float: right!important;
}

.ml-auto {
    margin-left: auto!important;
}

.form-group {
    margin-bottom: 1rem;
}

.form-focus {
    height: 50px;
    position: relative;
}

a {
    color:  #007bff;
    text-decoration:  none;
    background-color:  transparent;
    transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn {
    border-radius: 5px;
}

.btn-success {
    background-color: #55ce63;
    border: 1px solid #55ce63;
}

.filter-row .btn  {
    min-height: 50px;
    padding: 12px;
    text-transform: uppercase;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

a:active,a:hover {
    text-decoration: none;
    outline: none;
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success:active,.btn-success:hover {
    background: #4ab657;
    border: 1px solid #4ab657;
    color: #fff;
}

.btn-success:active:hover {
    background: #4ab657;
    border: 1px solid #4ab657;
}

.card {
    display:  flex;
    position:  relative;
    flex-direction:  column;
    height: 100%;
    min-width:  0;
    word-wrap:  break-word;
    background-color:  #fff;
    background-clip:  border-box;
    border:  1px solid #ededed;
    border-radius:  .25rem;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
    margin-bottom: 30px;
    
}

h3 {
    margin-bottom:     .5rem;
    font-weight:   500;
    line-height:    1.2;
    font-size:  1.5rem;
    margin-top:  0;
}

.page-title {
    color: #1f1f1f;
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 5px;
}

ul {
    margin-bottom:  1rem;
    margin-top: 0;
}

.breadcrumb {
    display: flex;
    flex-wrap:  wrap;
    padding:  .75rem 1rem;
    margin-bottom:  1rem;
    list-style:  none;
    background-color:  #e9ecef;
    border-radius:  .25rem;
}

.page-header .breadcrumb  {
    background-color: transparent;
    color: #6c757d;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0;
}

.add-btn {
    background-color: #ff9b44;
    border: 1px solid #ff9b44;
    border-radius: 50px;
    color: #fff;
    float: right;
    font-weight: 500;
    min-width: 140px;
}

.add-btn:active,.add-btn:hover {
    background-color: #ff851a;
    border: 1px solid #ff851a;
    color: #fff;
}

.view-icons {
    float: right;
    margin-right: 10px;
}

input {
    margin:    0;
    font-family:    inherit;
    font-size:    inherit;
    line-height:    inherit;
    overflow:   visible;
    transition:  all .4s ease;
    -moz-transition:  all .4s ease;
    -o-transition:  all .4s ease;
    -ms-transition:  all .4s ease;
    -webkit-transition:  all .4s ease;
    outline: none;
}

.form-control {
    display:  block;
    width:  100%;
    height:  44px;
    padding:  .375rem .75rem;
    font-size:  15px;
    font-weight:  400;
    line-height:  1.5;
    color:  #495057;
    background-color:  #fff;
    background-clip:  padding-box;
    border:  1px solid #ced4da;
    border-radius:  .25rem;
    transition:  border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-color: #e3e3e3;
    box-shadow: none;
}

input[type="text"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-focus .form-control  {
    height: 50px;
    padding: 21px 12px 6px;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.form-focus .focus-label  {
    font-size: 16px;
    font-weight: 400;
    opacity: .4;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0,22px,0) scale(1);
    transform-origin: left top;
    transition: .24s;
    left: 12px;
    top: -8px;
    z-index: 1;
    color: #888;
    margin-bottom: 0;
}

select {
    margin:   0;
    font-family:   inherit;
    font-size:   inherit;
    line-height:   inherit;
    text-transform:  none;
    word-wrap: normal;
}

.form-focus.select-focus .focus-label  {
    opacity: 1;
    font-weight: 300;
    top: -20px;
    font-size: 12px;
    z-index: 1;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.breadcrumb-item {
    display: flex;
}

.breadcrumb-item + .breadcrumb-item  {
    padding-left: .5rem;
}

.breadcrumb-item.active {
    color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item:before  {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}

.breadcrumb-item + .breadcrumb-item:hover:before  {
    text-decoration: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.add-btn i  {
    margin-right: 5px;
}

.fa-plus:before {
    content: "\f067";
}

.btn-link {
    font-weight:   400;
    color:  #333;
    text-decoration:   none;
    box-shadow:  none;
}

.view-icons .btn  {
    background-color: #fff;
    border: 1px solid #e3e3e3;
    color: #888;
    font-size: 18px;
    margin-right: 5px;
    min-width: 40px;
    padding: 4px;
}

.view-icons .btn.active  {
    color: #333;
}

.btn-link:hover {
    color:  #0056b3;
    text-decoration: underline;
}

.btn-link,.btn-link:active,.btn-link:hover {
    box-shadow: none;
}

.dropdown {
    position: relative;
}

.dropdown.profile-action {
    position: absolute;
    right: 5px;
    text-align: right;
    top: 10px;
}
.align{
    display: flex;
    align-items: center;
    justify-content: center;
}

h4 {
    margin-bottom:     .5rem;
    font-weight:   500;
    line-height:    1.2;
    font-size:  1.125rem;
    margin-top:  0;
}

.project-title {
    margin: 0 0 5px;
}

small {
    font-size:  80%;
    font-weight: 400;
}

.m-b-15 {
    margin-bottom: 15px!important;
}

.block {
    display: block!important;
}

.text-ellipsis {
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.text-muted {
    color:  #8e8e8e!important;
}

.m-b-5 {
    margin-bottom: 5px!important;
}

.progress {
    display: flex;
    height:  1rem;
    line-height:  0;
    font-size:  .75rem;
    background-color:  #e9ecef;
    border-radius:  .25rem;
    overflow: hidden;
}

.mb-0 {
    margin-bottom: 0!important;
}

.progress-xs {
    height: 4px;
}

.page-header .breadcrumb a  {
    color: #333;
}

.fa-th:before {
    content: "\f00a";
}

.fa-bars:before,.fa-navicon:before,.fa-reorder:before {
    content: "\f0c9";
}

.dropdown-toggle {
    white-space: nowrap;
}

.action-icon {
    color: #777;
    font-size: 18px;
    display: inline-block;
}

.dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-action .dropdown-toggle:after  {
    display: none;
}

.profile-action .dropdown-toggle:after  {
    display: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}

.dropdown-menu {
    border:  1px solid rgba(0,0,0,.1);
    border-radius:  3px;
    transform-origin:  left top 0;
    box-shadow:  inherit;
    background-color:  #fff;
    font-size: 13px;
}

.project-title > a  {
    color: #333;
}

.text-xs {
    font-size: .75rem!important;
}

.team-members {
    display: inline-flex;
    flex-wrap: wrap;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.text-success {
    color:  #55ce63!important;
}

.progress-bar {
    display:  flex;
    overflow:  hidden;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

.bg-success {
    background-color:  #55ce63!important;
}

.progress > .progress-bar  {
    background-color: #25628f;
}

.material-icons {
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga";
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.m-r-5 {
    margin-right: 5px!important;
}

.fa-pencil:before {
    content: "\f040";
}

.fa-trash-o:before {
    content: "\f014";
}

.team-members > li > a  {
    border: 2px solid #fff;
    border-radius: 100%;
    display: block;
    height: 30px;
    overflow: hidden;
    width: 30px;
}

.team-members > li:first-child a  {
    margin-left: 0;
}

.all-users {
    background-color: #ff5e3a;
    color: #fff;
    font-size: 10px;
    font-weight: 800;
    line-height: 34px;
    text-align: center;
}

.team-members .all-users  {
    line-height: 28px;
    opacity: .8;
}

.avatar-dropdown .dropdown-toggle:after  {
    display: none;
}

.all-users:active,.all-users:hover {
    color: #fff;
}

.avatar-dropdown .dropdown-menu  {
    min-width: unset;
    width: 100px;
    padding: 0;
}

img {
    border-style:  none;
    vertical-align: middle;
}

.team-members img  {
    width: 100%;
}

.avatar-dropdown .avatar-group  {
    min-height: 88px;
    padding: 2px;
    white-space: normal;
}

.avatar-dropdown .avatar-pagination  {
    border-top: 1px solid rgba(0,0,0,.1);
}

.avatar {
    display:  inline-block;
    background-color:  #aaa;
    border-radius:  50%;
    font-weight:  500;
    height:  38px;
    line-height:  38px;
    margin:  0 10px 0 0;
    text-align:  center;
    text-decoration:  none;
    text-transform:  uppercase;
    vertical-align:  middle;
    width:  38px;
    position:  relative;
    white-space:  nowrap;
    color: #fff;
}

.avatar.avatar-xs {
    width: 24px;
    height: 24px;
}

.avatar-dropdown .avatar-group .avatar  {
    margin: 2px;
}

.avatar,.avatar:hover {
    color: #fff;
}

ul ul  {
    margin-bottom: 0;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

.avatar > img  {
    border-radius: 50%;
    display: block;
    overflow: hidden;
    width: 100%;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination > li > a  {
    color: #ff9b44;
}

.avatar-dropdown .page-link  {
    padding: .3rem .55rem;
    border-radius: 0!important;
    border: 0;
}

.page-item:first-child .page-link  {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:hover,.pagination > li > a  {
    color: #ff9b44;
}

.page-item:last-child .page-link  {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.sr-only {
    white-space:  nowrap;
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


